@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --p1: #e6f2ff;
    --p2: #b3d9ff;
    --p3: #80bfff;
    --p4: #4d94ff;
    --p5: #1a5fa0;

    --v1: #00d4ff;
    --v2: #00c5ff;
    --v3: #0099ff;
    --v4: #0073cc;
    --v5: #004d99;
    --v6: #003366;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#main_title {
    font-family: 'Satisfy', cursive;
    font-size: 10vw;
    color: var(--v6);
    text-align: center;
}

@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#main_title_xouh {
    color: var(--p4);
    position: relative;
    display: inline-block;
    cursor:pointer;
}

#main_title_xouh::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    background: var(--p5);
    transform-origin: left;
}

#main_title_xouh:hover {
    color: var(--p5);
}

#main_title_xouh:hover::after {
    animation: underline 0.6s ease-out forwards;
}

#main_subtitle {
    font-family: 'Satisfy', cursive;
    font-size: 1vw;
    color: var(--v3);
    text-align: center;
}

#wave_1,
#wave_2 {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100px;
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: -1;
}