@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --p1: #e6f2ff;
    --p2: #b3d9ff;
    --p3: #80bfff;
    --p4: #4d94ff;
    --p5: #1a5fa0;

    --v1: #00d4ff;
    --v2: #00c5ff;
    --v3: #0099ff;
    --v4: #0073cc;
    --v5: #004d99;
    --v6: #003366;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: linear-gradient(180deg, var(--p2) 33%, var(--p3) 66%, var(--p4) 100%);
    min-height: 100vh;
}

#main_title {
    font-family: 'Satisfy', cursive;
    font-size: 10vw;
    color: var(--v6);
    text-align: center;
}

@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#main_subtitle {
    font-family: 'Satisfy', cursive;
    font-size: 1vw;
    color: var(--v3);
    text-align: center;
}

#wave_1,
#wave_2 {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100px;
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: -1;
}

.parts_titles {
    font-family: "Great Vibes", cursive;
    font-size: 3vw;
    color: var(--v5);
    text-align: left;
    margin-top: 13vh;
    margin-left: 5vw;
}

#section_what_is_xouh {
    margin-top: 20vh;
}

.presentation_paragraphs {
    font-family: "Archivo Black", cursive;
    font-size: 1vw;
    color: var(--v6);
    text-align: left;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}